[Unit]
Description=kibana
After=network-online.target

[Service]
Type=simple
Restart=always
ExecStart=/home/administrator/elk/kibana-8.7.1/bin/kibana
User=administrator

[Install]
WantedBy=multi-user.target